@import "tailwindcss";
@source not "../../public";

@theme {
    /* UI colors */
    --color-night-paper: #1A1823;
    --color-ink-stone: #242133;
    --color-smoked-violet: #3F3A57;
    --color-muted-iris: #5C567A;
    --color-dust-plum: #2E2A40;

    /* text colors */
    --color-soft-ash: #E6E4EF;
    --color-fog-grey: #A9A6BC;
    --color-cold-white: #E6E4EF;
    --color-spun-pearl: #A9A6BC;

    /* Icon */
    --color-faded-amethyst: #8C82B8;
}
